#content{
    text-align: center;
    padding-top: 15%;
}
body{
    background-image: url("imgs/back2.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: white;
}
h1{
    font-weight: 700;
    font-size: 5em;
}

html{
    height: 100%;
}
hr{
    width: 600px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0 , 0 , 0 , 0.2);
}
